html {
  color: blue;
}

body {
  background-color: #ededed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%234701b7' fill-opacity='0.34'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.container {
  display: grid;
  grid-template-columns: 0.38fr 0.62fr;
}

#wesen_data {
  position: fixed;
}

input,
select {
  width: 300px;
  border-radius: 10px;
  background-color: white;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
  border: 1px blue solid;
  width: 150px;
  background-color: white;
  word-wrap: break-word;
}

li:hover {
  cursor: pointer;
  border: 2px solid darkblue;
}

textarea {
  height: 80px;
  width: 300px;
  resize: none;
  border-radius: 10px;
}

button {
  width: 100px;
  background-color: blue;
  border-radius: 10px;
  border: none;
  color: white;
}

button:hover {
  border: 2px solid darkblue;
  cursor: pointer;
}

fieldset {
  border-color: blue;
  border-radius: 8px;
  background-color: white;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white blue;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: blue;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid blue;
}